<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.jp.senac.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>CadastroAlunosServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AlterarServlet</display-name>
    <servlet-name>AlterarServlet</servlet-name>
    <servlet-class>com.jp.senac.controller.AlterarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarServlet</servlet-name>
    <url-pattern>/AlterarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetalharServlet</display-name>
    <servlet-name>DetalharServlet</servlet-name>
    <servlet-class>com.jp.senac.controller.DetalharServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetalharServlet</servlet-name>
    <url-pattern>/DetalharServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirServlet</display-name>
    <servlet-name>ExcluirServlet</servlet-name>
    <servlet-class>com.jp.senac.controller.ExcluirServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirServlet</servlet-name>
    <url-pattern>/ExcluirServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmarCadastroServlet</display-name>
    <servlet-name>ConfirmarCadastroServlet</servlet-name>
    <servlet-class>com.jp.senac.controller.ConfirmarCadastroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmarCadastroServlet</servlet-name>
    <url-pattern>/ConfirmarCadastroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmarAlteracaoServlet</display-name>
    <servlet-name>ConfirmarAlteracaoServlet</servlet-name>
    <servlet-class>com.jp.senac.controller.ConfirmarAlteracaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmarAlteracaoServlet</servlet-name>
    <url-pattern>/ConfirmarAlteracaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.jp.senac.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarServlet</display-name>
    <servlet-name>ListarServlet</servlet-name>
    <servlet-class>com.jp.senac.controller.ListarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarServlet</servlet-name>
    <url-pattern>/ListarServlet</url-pattern>
  </servlet-mapping>
</web-app>